:root {
  font-size: 10px;
  color: white;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

h1 {
  font-size: clamp(4rem, 5vw, 8rem);
  text-align: center;
  /* Change font */
}

.win {
  padding: 2em;
  width: 60%;
  min-width: 30em;
  display: flex;
  align-items: baseline;
  height: 275px;
  margin: 2em auto;
}

.win > * {
  background: gold;
  flex-basis: 100%;
  border-radius: 1em;
  position: relative;
}

.win > *::after {
  position: absolute;
  top: -25px;
  left: 50%;
  font-size: 2rem;
  transform: translateX(-50%);
  color: white;
}

.win > :nth-child(1) {
  height: 200px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.win > :nth-child(1)::after {
  content: "Team Pear";
}

.win > :nth-child(2) {
  height: 275px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.win > :nth-child(2)::after {
  content: "5D-Penta";
}

.win > :nth-child(3) {
  height: 150px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.win > :nth-child(3)::after {
  content: "Catalist";
}

.project-container {
  padding: 0 2em 2em;
  border-radius: 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 60%;
  min-width: 30em;
  color: black;
}

.project {
  padding: 5em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

@media screen and (max-width: 600px) {
  .project {
    padding: 1.5em;
  }
}

@media screen and (max-width: 400px) {
  .project {
    flex-direction: column;
  }
}

.project h2 {
  font-size: 2.5rem;
}

.project p {
  font-size: 1.2em;
}

.ressource-container {
  display: flex;
  flex-direction: row;
  padding: 0 1em;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  font-size: 1.4rem;
}

.ressource-container > a {
  color: black;
}

.ressource-container > a:is(:hover, :focus) {
  color: gold;
}

.project-header {
  display: flex;
  gap: 1em;
  align-items: center;
}

.award-container {
  width: 60%;
  min-width: 30em;
  margin: auto;
  display: flex;
  gap: 1em;
  padding: 2em;
}

@media screen and (max-width: 650px) {
  .award-container {
    flex-direction: column;
  }
}

.award {
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: gold;
  color: black;
  flex: 1;
  min-height: 12em;
  /* gap: 1.5em; */
  text-align: center;
}

.award > h3 {
  font-size: 2em;
}

.award > h5 {
  font-size: 1.2em;
}
