:root {
  font-size: 10px;
  color: white;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

h1 {
  font-size: clamp(4rem, 5vw, 8rem);
  text-align: center;
  /* Change font */
}

.win {
  padding: 2em;
  width: 60%;
  min-width: 30em;
  display: flex;
  align-items: baseline;
  height: 30vh;
  max-height: 275px;
  margin: 1em auto 0;
}

.win > * {
  background: gold;
  flex-basis: 100%;
  border-radius: 1em;
  position: relative;
  text-align: center;
  color: black;
}

.win > *::after {
  position: absolute;
  top: -1.5em;
  left: 0;
  right: 0;
  text-align: center;
  font-size: clamp(1.2rem, 2vw, 2rem);
  color: white;
}

.win > *::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  color: black;
}

.win > :nth-child(1) {
  height: 66%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.win > :nth-child(1)::after {
  content: "Team Pear";
}

.win > :nth-child(1)::before {
  content: "2";
}

.win > :nth-child(2) {
  height: 100%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.win > :nth-child(2)::after {
  content: "5D-Penta";
}

.win > :nth-child(2)::before {
  content: "1";
}

.win > :nth-child(3) {
  height: 50%;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.win > :nth-child(3)::after {
  content: "Catalist";
}

.win > :nth-child(3)::before {
  content: "3";
}

.project-container {
  padding: 2em;
  border-radius: 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 60%;
  min-width: 30em;
  color: black;
}

.project {
  padding: 5em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.project h2 {
  font-size: 2.5rem;
}

.project p {
  font-size: 1.2em;
}

.ressource-container {
  display: flex;
  flex-direction: row;
  padding: 0 1em;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  font-size: 1.4rem;
}

.ressource-container > a {
  color: black;
}

.ressource-container > a:is(:hover, :focus) {
  color: gold;
}

.project-header {
  display: flex;
  gap: 1em;
  align-items: center;
}

.project-header > div {
  display: flex;
  gap: 1em;
  align-items: center;
}

.award-container {
  width: 60%;
  min-width: 30em;
  margin: auto;
  display: flex;
  gap: 2em;
  padding: 0 2em;
}

@media screen and (max-width: 650px) {
  .award-container {
    flex-direction: column;
  }
}

.award {
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: gold;
  color: black;
  flex: 1;
  min-height: 12em;
  /* gap: 1.5em; */
  text-align: center;
}

.award > h3 {
  font-size: 2em;
}

.award > h5 {
  font-size: 1.2em;
}

@media screen and (max-width: 600px) {
  .project {
    padding: 1.5em;
  }
}

@media screen and (max-width: 400px) {
  .project {
    flex-direction: column;
  }
  .project-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    margin-bottom: 1em;
  }
}
