:root {
  font-size: 10px;
  --gradient-1: linear-gradient(
    170deg,
    rgba(249, 104, 103, 1) 0%,
    rgba(203, 91, 141, 1) 70%,
    rgba(136, 93, 151, 1) 100%
  );
  --gradient-2: linear-gradient(
    170deg,
    rgba(255, 146, 46, 1) 0%,
    rgba(249, 104, 103, 1) 70%,
    rgba(203, 91, 141, 1) 100%
  );
  color: white;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: #00c9b0;
}

h1 {
  font-size: clamp(4rem, 5vw, 8rem);
  text-align: center;
  /* Change font */
}

.win {
  padding: 2em;
  width: 60%;
  min-width: 30em;
  display: flex;
  align-items: baseline;
  height: 275px;
  margin: 2em auto;
}

.win > * {
  background: rgba(249, 104, 103, 1)
    linear-gradient(
      90deg,
      rgba(255, 146, 46, 0.4) 0%,
      rgba(249, 104, 103, 1) 30% 70%,
      rgba(255, 146, 46, 0.4) 100%
    );
  flex-basis: 100%;
  border-radius: 1em;
  position: relative;
}

.win > *::after {
  position: absolute;
  top: -25px;
  left: 50%;
  font-size: 2rem;
  transform: translateX(-50%);
  color: white;
}

.win > :nth-child(1) {
  height: 200px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.win > :nth-child(1)::after {
  content: "Winner";
}

.win > :nth-child(2) {
  height: 275px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.win > :nth-child(2)::after {
  content: "Winner";
}

.win > :nth-child(3) {
  height: 150px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.win > :nth-child(3)::after {
  content: "Winner";
}

.project-container {
  padding: 2em;
  border-radius: 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 60%;
  min-width: 30em;
}

.project-container > :nth-child(2n - 1) {
  background: var(--gradient-1);
}

.project-container > :nth-child(2n) {
  background: var(--gradient-2);
}

.project {
  padding: 5em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project h2 {
  font-size: 2.5rem;
}

.project p {
  font-size: 1.2em;
}

.ressource-container {
  display: flex;
  flex-direction: row;
  padding: 0 1em;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  font-size: 1.4rem;
}

.ressource-container > a {
  color: white;
}

.ressource-container > a:is(:hover, :focus) {
  color: #00b3c4;
}
